body {
    background-image: url(/Users/Jason/Desktop/Basic-Portfolio/assets/css/light_honeycomb/light_honeycomb_@2X.png);
}

.header{
    width: 100%;
    height: 75px;
    background-color: white;
    /* text-align: center; */
    margin: 0em;
    /* justify-content: center; */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.topnav {
    text-align: center;
    /* align-items: center; */
    margin: 0em 0em 0em 3em;
    background-color: white;
    width: 100%;
    height: 75px;
    padding: 1.5em 0em 0em 0em;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav a {
    color: gray;
}
#JClohosey {
    background-color: rgb(9, 202, 9);
    text-align: center;
    /* align-items: center; */
    width: 40%;
    height: 75px;
    margin: 0em 0em 0em 7.25em;
    padding: .8em 0em 0em 0em;
    font-size: 25px;
}
.aboutMe {
    background-color: white;
    width: 960px;
    margin: auto;
    margin-top: 5em;
}
.Portfolio {
    background-color: white;
    width: 960px;
    margin: auto;
    margin-top: 5em;
}
.contact {
    background-color: white;
    width: 960px;
    margin: auto;
    margin-top: 5em;
}
.profilePic {
    padding: 0em 2em 2em 0em;
}
.about {
    padding: 1em 0em .5em 1em;
}
.paragraph {
    padding: 2em 2em 2em 2em;
}
.col-sm-6 {
    justify-content: center;
}
.footer {
    background-color: darkgray;
    border-top: darkgreen;
}